body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#intro,
h1,
h2,
h3,
h4,
h5,
.tag,
footer {
  font-family: monospace;
}

p,
span,
ul {
  font-family: sans-serif;
}

.mini-view {
  min-height: 100vh;
  /* width: 100vw; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#intro {
  display: flex;
  flex-direction: column;
  background-color: crimson;
}

.skill-table {
  display: flex;
  flex-direction: column;
}

.skill-table tr,
.skill-table td,
.skill-table th {
  /* border: 1px solid black; */
}

.skill-table tr {
  margin-bottom: 1em;
}

.skill-table th {
  text-align: right;
  padding: 0.5em;
  font-size: 20px;
  color: crimson;
}

.skill-table td {
  text-align: left;
  padding-left: 1em;
}

.vertical {
  flex-direction: column;
  padding: 2em 0em;
}

footer {
  margin-top: 5em;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: crimson;
}

footer a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 2em;
}

footer div img {
  width: 32px;
  height: 32px;
  margin: 0.25em;
}

.about-content {
  display: flex;
}

.profile {
  width: 50%;
}

.profile-description {
  width: 30%;
  text-align: left;
  line-height: 1.25em;
}

.profile-img {
  position: relative;
  display: inline;
}

.profile-img img {
  max-width: 20em;
  height: auto;
}

.profile-img::before {
  content: "";
  z-index: -5;
  position: absolute;
  right: -40px;
  bottom: -40px;
  width: 20em;
  height: 28em;
  border: 3px dashed crimson;
}

.card {
  position: relative;
  width: 18em;
  height: 18em;
  border: 2px solid crimson;
  border-radius: 5px;
  padding: 1.5em;
  text-align: left;
  line-height: 1.25;
  transition: box-shadow 0.15s;
}

.card:hover {
  box-shadow: 3px 3px crimson;
}

.links {
  display: flex;
  justify-content: space-between;
  height: 35px;
}

.folder {
  height: 35px;
}

.github {
  background-image: url("./img/github-pink.png");
  width: 32px;
  height: 32px;
  margin-bottom: -5px;
}

.demo {
  background-image: url("./img/pink-demo.png");
  width: 25px;
  height: 25px;
  margin-right: 0.25em;
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  width: 80%;
  column-gap: 1em;
  row-gap: 1em;
}

.tags {
  position: relative;
  bottom: 0px;
  display: flex;
  flex-wrap: wrap;
}

.tag {
  display: inline;
  color: white;
  background-color: crimson;
  padding: 5px;
  font-size: 0.9em;
  border-radius: 5px;
  height: 1em;
  margin-left: 0.2em;
  margin-bottom: 0.25em;
}

#experience {
  text-align: left;
  padding: 0em 13em;
}

.position {
  position: relative;
}

.position::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  background-color: crimson;
  top: 43px;
  left: 0px;
  transition: width 0.5s;
  transition-timing-function: ease-out;
}

.position:hover::after {
  width: 80%;
}

#intro img {
  height: 4rem;
  width: 6rem;
  opacity: 0;
}

#intro h2 {
  font-weight: bold;
  font-size: 7em;
  color: white;
  text-shadow: 9px 5px firebrick;
}

@keyframes intro-start {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes intro-loop {
  0% {
    padding: 0em;
  }
  50% {
    padding: 0.2em;
  }
  100% {
    padding: 0em;
  }
}

#intro img {
  animation-name: intro-start;
  animation-duration: 0.25s;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

#intro h2 {
  animation-name: intro-loop;
  animation-duration: 1.5s;
  animation-delay: 1.5s;
  animation-iteration-count: infinite;
}
