body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  /* background-color: #3a1b2d; */
  background-color: #171c2d;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#intro,
h1,
h2,
h3,
h4,
h5,
.tag,
footer {
  font-family: monospace;
  color: #ff6584;
}

p,
span,
ul {
  font-family: monospace;
}

.mini-view {
  min-height: 100vh;
  /* width: 100vw; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#intro {
  display: flex;
  position: relative;
  flex-direction: column;
  z-index: 500;
  background-color: #171c2d;
}

.skill-table {
  display: flex;
  flex-direction: column;
}

.skill-table tr,
.skill-table td,
.skill-table th {
  /* border: 1px solid black; */
}

.skill-table tr {
  margin-bottom: 1em;
}

.skill-table th {
  text-align: right;
  padding: 0.5em;
  font-size: 20px;
  color: #ff6584;
}

.skill-table td {
  text-align: left;
  padding-left: 1em;
}

.vertical {
  flex-direction: column;
  padding: 2em 0em;
}

footer {
  margin-top: 5em;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #241c2c;
}

footer a {
  color: #ff6584;
  font-weight: bold;
  text-decoration: none;
  font-size: 2em;
}

footer div img {
  width: 32px;
  height: 32px;
  margin: 0.25em;
}

.about-content {
  display: flex;
}

.profile {
  width: 50%;
}

.profile-description {
  width: 35%;
  text-align: right;
  line-height: 1.25em;
  color: white;
  margin: auto;
}

.not-visited {
  opacity: 0;
}

.profile-img {
  position: relative;
  display: inline;
}
/* 
.profile-img img {
  max-width: 20em;
  height: auto;
} */

.card {
  background-color: #241c2c;
  position: relative;
  width: 17em;
  height: 17em;
  border: 2px solid #ff6584;
  border-radius: 5px;
  padding: 1.5em;
  text-align: left;
  line-height: 1.25;
  transition: box-shadow 0.15s;
}

.card:hover {
  box-shadow: 3px 3px #ff6584;
}

.card p {
  font-size: 0.9em;
  color: white;
}

.links {
  display: flex;
  justify-content: flex-end;
  height: 35px;
}

.folder {
  height: 35px;
}

.github {
  background-image: url("./img/github-pink.png");
  width: 32px;
  height: 32px;
  margin-bottom: -5px;
}

.demo {
  background-image: url("./img/pink-demo.png");
  width: 25px;
  height: 25px;
  margin-right: 0.25em;
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  column-gap: 1em;
  row-gap: 1em;
}

.tags {
  position: relative;
  bottom: 0px;
  display: flex;
  flex-wrap: wrap;
}

.tag {
  display: inline;
  color: #ff6584;
  padding: 5px;
  font-size: 0.9em;
  border-radius: 5px;
  height: 1em;
  margin-left: 0.2em;
  margin-bottom: 0.25em;
  border: 1px solid #ff6584;
}

b,
i,
u {
  color: #ff6584;
}

#experience {
  text-align: justify;
  width: 50%;
  margin: auto;
}

.position {
  position: relative;
  margin: 2em 0em;
  color: white;
}

.position span {
  color: #ff6584;
}

.position::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  background-color: #ff6584;
  top: 43px;
  left: 0px;
  transition: width 0.5s;
  transition-timing-function: ease-out;
}

.position:hover::after {
  width: 80%;
}

.position,
.position ul {
  line-height: 1.2;
}

#intro img {
  height: 4rem;
  width: 6rem;
  opacity: 0;
}

#intro h2 {
  font-weight: bold;
  font-size: 7em;
  color: #ff6584;
}

@keyframes intro-start {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes intro-loop {
  0% {
    bottom: 4em;
  }
  50% {
    bottom: 2em;
  }
  100% {
    bottom: 4em;
  }
}

#intro img {
  position: absolute;
  opacity: 0;
  bottom: 4em;
  animation-name: intro-start, intro-loop;
  animation-duration: 0.25s, 1.5s;
  animation-delay: 1s, 1.5s;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.navlink {
  color: #ff6584;
  /* border: 2px dashed #ff6584; */
  padding: 0.3em;
  margin: 0.5em;
  text-decoration: none;
}

.navlink:hover {
  text-decoration: underline;
  transition: text-decoration 0.1s ease-out 0s;
}

nav {
  position: fixed;
  top: 20px;
  right: 0px;
  display: flex;
  align-items: flex-end;
  padding-right: 5em;
  font-family: monospace;
  z-index: 100;
}

/*   header: {
    backgroundColor: "#ffffff00",
    boxShadow: "none",
    color: "black",
    display: "flex",
    alignItems: "flex-end",
    paddingRight: "5em",
    position: "fixed",
    fontFamily: "monospace",
  },*/

#about {
  position: relative;
  background-color: #241c2c;
  padding: 0px;
}

.me {
  z-index: -2;
  width: 70vw;
  filter: drop-shadow(-20px 0px 0px #ff6584);
}

#about h1 {
  margin-bottom: 2em;
}

.projects-container a,
.App a {
  text-decoration: none;
}
